<div class="container mt-3">
  <div class="card card-body shadow">
    <div class="mb-5">
      <h3 class="fw-bold">Contact Us</h3>
      <div class="text-muted">
        Moqups provides a wireframe bundle that consists of three templates,
      </div>
      <div class="text-muted">
        each displaying the contact form in three different phases.
      </div>
    </div>
    <div class="card card-body" style="background-color: #eff0f4">
      <div class="row">
        <div class="col-lg-8">
          <h5 class="fw-bold">Send Us a message</h5>
          <div class="text-muted mb-5">
            Moqups provides a wireframe bundle that consists of three templates,
          </div>
          <form class="pb-4">
            <div class="row g-4">
              <div class="col-lg-6">
                <label for="fname" class="form-label fw-bold">Full name</label>
                <input
                  type="text"
                  class="form-control"
                  id="fname"
                  placeholder="Type full name"
                />
              </div>
              <div class="col-lg-6">
                <label for="email" class="form-label fw-bold">Email</label>
                <input
                  type="text"
                  class="form-control"
                  id="email"
                  placeholder="Type Email"
                />
              </div>
              <div class="col-lg-6">
                <label for="tel" class="form-label fw-bold">Telephone</label>
                <input
                  type="text"
                  class="form-control"
                  id="tel"
                  placeholder="Type Telephone"
                />
              </div>
              <div class="col-lg-6">
                <label for="organisation" class="form-label fw-bold"
                  >Organisation</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="organisation"
                  placeholder="Type organisation"
                />
              </div>
              <div class="col-12">
                <textarea
                  class="form-control"
                  placeholder="Type your message here"
                ></textarea>
              </div>
              <div class="col-12">
                <button class="btn btn-dark float-end px-5 rounded-0">
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-4">
          <h5 class="fw-bold text-center mb-5">Contact Information</h5>
          <hr />
          <ul class="list-group">
            <li class="list-group-item bg-transparent border-0">
              <i class="fa-solid fa-location-dot me-3 text-success"></i>A disabled item
            </li>
            <li class="list-group-item bg-transparent border-0">
              <i class="fa-solid fa-location-dot me-3"></i>A disabled item
            </li>
            <li class="list-group-item bg-transparent border-0">
              <i class="fa-solid fa-location-dot me-3"></i>A disabled item
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
