<div class="card flex-fill h-100">
  <div class="card-body">
    <h5 class="card-title">{{ postData.title }}</h5>
    <p class="card-text">
      {{ postData.body }}
    </p>
    <a href="#" class="btn btn-primary" (click)="test(postData.id)">click id</a>
  </div>
</div>
